# Firebase
FIREBASE_API_KEY=AIzaSyD-tUKrlQsGHQerAhaoDSs-qnF4Ii03UIo
FIREBASE_PROJECT_ID=contrastcoach-1ed0a
FIREBASE_APP_ID=1:1008265304464:android:497d3034401edde6897b15
FIREBASE_MESSAGING_SENDER_ID=1008265304464
FIREBASE_STORAGE_BUCKET=contrastcoach-1ed0a.firebasestorage.app

# RevenueCat
REVENUECAT_API_KEY=

# App
ENV=dev
